/*App*/
.topic{
   color: beige;
   margin-top: 6cm;
   margin-left:6cm; 
}

.icon{
   margin-left:6cm;   
 }

 .para{
   color: beige;
   margin-left:6cm; 
   margin-right:15cm;
 }

.image1{
   margin-left:6cm;
}

.image2{
   margin: 0%;
}



/* Footer */
.a1{
    color: rgb(0, 0, 0);
  
  }

 .foot{
    background-color: rgba(0, 0, 0, 0.5);
 } 

.table-border{
   border-style: double;
   border-color: rgb(0, 0, 0);
   color: aliceblue;
}

.h3div{
   border-style:groove;
   border-color: rgb(0, 0, 0);
   height: 1.5cm;
   background-color: rgba(0, 0, 0, 1);
}

.overlink:hover{
   color: aliceblue;
}

.overlink1:link{
   color: black;
}
